*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #ebebeb;
}

a{
    text-decoration: none;
    color: black;
}

/*HEADER*/

.main-header{
    background-color: #EAC926;    
}

.logo, .busqueda{
    padding-top: 15px;
    padding-bottom: 15px;
}

.busqueda, .toggle-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pago{
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-nav{
    padding-bottom: 15px;
}

.fas.fa-hand-holding-usd{
    margin-right: 5px;
}

.fas.fa-bars{
    background-color: #03264C;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.busqueda input{
    width: 75%;
    color: #666666;
    border: 1px solid #ebebeb;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}

.lupita{
    width: 35px;
    background-color: white;
    border: 1px solid #ebebeb;
    color: #666666;
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;    
}

.main-nav{
    display: none;
}

.banner{
    padding: 0;
}

.banner img{
    width: 100%;
    height: 100%;
}

/* PRODUCTOS */

.productos{
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.titulo{
    font-size: 24px;
    color: #666666;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card{
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.card div{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0 0 5px 5px;
}

.card img{
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.detalle{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.precio{
    font-size: 24px;
    margin-right: 5px;
}

.descuento{
    color: #39b54a;
    font-size: 12px;
}

.truck-div{
    border: 1px solid #39b54a;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 14px;
    bottom: 54px;
}

.fas.fa-truck{
    color: #39b54a;    
}

/* FOOTER */

.fas.fa-user-shield, .fas.fa-gift, .fas.fa-credit-card{
    color: #1259c3;
    font-size: 30px;
}

.main-footer{
    background-color: white;
}

.seccion-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #666666;
}

.seccion-footer i, .seccion-footer h2, .seccion-footer p{
    margin-top: 10px;
}

.seccion-footer p:last-child{
    margin-bottom: 10px;
}

.copyright{
    font-size: 10px;
    border-top: 1px solid #ebebeb;
    padding: 10px 0 10px 5px;
    color: #666666;
}

@media (min-width: 768px){

    .toggle-nav{
        display: none;
    }

    .pago{
        padding-top: 15px;
        display: flex;
        justify-content: flex-end;      
    }

    .pago div{
        text-align: right;
    }

    .main-nav{
        display: block; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 15px;
    }

    .main-nav div.nav-account{
        align-self: flex-end;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .main-nav div a{
        margin-right: 15px;
    }

    .main-nav div a:last-child{
        margin-right: 0;
    }    

    .productos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;        
    }
}